---
import "@fontsource/schoolbell";
---
<div class=`text-center text-zinc-200 w-3/4 space-y-4 h-auto p-7 rounded-lg bg-yellow-950 shadow-md
        delay-[0ms] duration-[600ms] taos:[transform:translate3d(0,200px,0)_scale(0.6)] taos:opacity-0` data-taos-offset="100" id="bio">
    <span class="font-[Schoolbell] font-bold text-3xl">Hey there! I'm Aahil.</span>
    <div class="flex text-2xl">
        I'm a student developer based out of Boston, MA. I'm currently studying Computer Science at Northeastern University, 
        and looking for a career in artificial intelligence and software development.
    </div>
    <div class="flex text-2xl">
        When developing, my inspiration is the world around me. 
        I love to build things that make a difference and I'm always looking for new opportunities to learn and grow. 
        When I'm not behind the keyboard, I'm a huge traveler, and you can find me out playing tennis or tucked away watching a show. 
    </div>
</div>
<script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
<script>

</script>