---
import "@fontsource/schoolbell";
---

<div class=`text-zinc-200 w-3/4 space-y-3 h-auto p-4 rounded-lg bg-[#903C45] 
        delay-[300ms] duration-[600ms] taos:[transform:translate3d(0,200px,0)_scale(0.6)] taos:opacity-0` data-taos-offset="100" id="bio">
    <span class="font-[Schoolbell] font-bold text-3xl text-center">Hey there! I'm Aahil.</span>
    <div class="flex text-2xl">
        I'm a student developer based out of Boston, MA. <br> I'm currently studying Computer Science at Northeastern University, 
        and looking for a career in Artificial Intelligence and Software Development.
    </div>
    <div class="flex text-2xl">
        When developing, my inspiration is the world around me. 
        I love to build things that make a difference and I'm always looking for new opportunities to learn and grow. 
        When I'm not behind the keyboard, I'm a huge travel enthusiast, and you can probably find me out playing tennis or tucked away watching a show. 
    </div>
    <div class="flex text-2xl">
        Scroll to learn more about me!
    </div>

</div>
<script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
<script>

</script>