---
import "@fontsource/schoolbell";
import Out from "./out.astro";
import FormContact from "./contact.astro";
---

<div id="bio-content">
  <div class="justify-end mb-1">
    <span
      class="font-[Schoolbell] text-left font-bold text-3xl
      dark:text-gray-200 text-[#402d25]"
    >
      Hey, I'm Aahil.
    </span>
    <Out />
  </div>

  <span
    class="text-left font-semibold text-sm dark:text-gray-200 text-[#402d25] mb-4"
  >
    Currently: Member of Technical Staff @ Healthtech Startup
  </span>
  <div class="mb-4">
    When developing, my inspiration is the world around me. I love to build
    things that make a difference and I'm always looking for new opportunities
    to learn and grow. When I'm not behind the keyboard, I'm a huge traveler and
    foodie.
  </div>
</div>

<button
  id="contact-button"
  class="hidden px-4 py-2 bg-[#402d25] text-white rounded-md hover:bg-[#5a4037] transition-colors"
>
  Contact Me
</button>

<div id="contact-form" class="hidden">
  <FormContact />
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const contactButton = document.getElementById("contact-button");
    const bioContent = document.getElementById("bio-content");
    const contactForm = document.getElementById("contact-form");
    contactButton?.addEventListener("click", () => {
      if (contactForm?.classList.contains("hidden")) {
        bioContent?.classList.add("hidden");
        contactForm?.classList.remove("hidden");
      } else {
        bioContent?.classList.remove("hidden");
        contactForm?.classList.add("hidden");
      }
    });
  });
</script>
