<span class="align-bottom -mb-1 inline-flex flex-nowrap gap-2">
  <a
    href="https://www.linkedin.com/in/aahil-nishad/"
    target="_blank"
    rel="noopener noreferrer"
    title="LinkedIn"
  >
    <span class="icon-[mdi--linkedin] size-8 fill-[#8d5c47] dark:fill-zinc-200"
    ></span>
  </a>
  <a
    href="https://www.github.com/aahiltn"
    target="_blank"
    rel="noopener noreferrer"
    title="GitHub"
  >
    <span class="icon-[mdi--github] size-8 fill-[#8d5c47] dark:fill-zinc-200"
    ></span>
  </a>
  <a
    href="../files/AN-resume.pdf"
    target="_blank"
    rel="noopener noreferrer"
    title="Resume"
  >
    <span
      class="icon-[mdi--file-download] size-8 fill-[#8d5c47] dark:fill-zinc-200"
    ></span>
  </a>
</span>
